checkpoint/
data/
examples/
*.pyc
__pycache__/
.idea/
wind_map.egg-info/

outputs/runs/

run.log

note.txt
best_hyperparameters.txt
hp_optim_results.pkl
diagnose.py
Dockerfile
requirements.txt
training_log.csv
outputs/imgs/train_behaviour.png
